.choose--section {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.choose-h1 {
  color: var(--black);
  text-align: center;
  letter-spacing: normal;
  text-transform: none;
  font-size: 45px;
  font-weight: 900;
  line-height: 54px;
}

.choose-p {
  letter-spacing: normal;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.4em;
  font-size: 16px;
  color: black;
  text-align: center;
}
.choose-container-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 60px;
}
.choose-product {
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: flex-start;
  gap: 22px;
  max-width: 1300px;
}
.choose-product-container {
  display: flex;
  flex-direction: column;
  width: 23.7%;
  gap: 22px;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}
.choose-product-container-img {
  height: 260px;
  border: 1px solid #b7b7b7;
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  gap: 20px;
  display: flex;
  cursor: pointer;
  position: relative;
}
.choose-product-img {
  width: 230px;
  height: 160px;
  object-fit: cover;
  transition: transform 0.3s;
}

.choose-product-price {
  color: black;
  font-size: 16px;
  font-weight: 700;
  background-color: orange;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.choose-product-description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.choose-product-title {
  font-size: 25px;
  font-weight: 900;
}
.choose-product-p {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
}
.choose-product-container-button {
  margin: 0px auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.choose-product-icon-cart {
  width: 25px;
  height: 25px;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}

.btn-primary-product {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  height: 50px;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: var(--white);
  background-color: var(--red);
  width: 100%;
  justify-content: space-around;
  border: none;
  border-radius: 10px;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}
.btn-primary-product:hover {
  color: var(--black);
  background-color: transparent;
  border: 1px solid var(--red);
}

@media screen and (max-width: 1200px) {
  .choose-product-container {
    width: 48%; /* Defina a largura para 48% para que haja dois itens por linha */
  }
}
@media screen and (max-width: 600px) {
  .choose-product-container {
    width: 100%; /* Defina a largura para 100% para que haja um item por linha */
  }
}
