.service--delivery--section {
  display: flex;
  flex-direction: row;
  max-height: 696px;
  width: 100%;
  background-color: #faf3eb;
  justify-content: center;
}
.service--svg {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
  width: 560px;
  height: 560px;
}

.service--road--img {
  position: relative;
  width: 560px;
  height: 560px;
  top: -80px;
}
.service--delivery--info {
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  width: 560px;
}
.service--delivery--title {
  font-size: 45px;
  line-height: 54px;
  font-weight: 900;
  color: black;
  margin-bottom: 40px;
}
.service--delivery--description {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  margin-bottom: 20px;
}
.service--delivery--info--container {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service--delivery--info--box {
  border: 1px dashed var(--red);
  flex-direction: column;
  display: flex;
  flex-direction: column;
  width: 28%;
  align-items: "flex-start";
  border-radius: 15px;
  padding: 10px;
  justify-content: space-between;
}
.service--delivery--info--box--p {
  font-size: 18px;
  font-weight: 900;
  line-height: 21.6px;
}
@media screen and (max-width: 1200px) {
  .service--delivery--section {
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    align-items: center;
    max-height: 896px;
    text-align: center;
    padding-bottom: 120px;
  }
}
