.banner--section {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 100px 200px 0px 200px;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 100%, cover;
  background-image: url("../../../public/img/banner_background.png");
  margin-bottom: 70px;
}
.banner--container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto;
  padding-left: 90px;
  margin-bottom: 80px;
}

.banner--container--left {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;
  width: 34%;
}
.banner--container--left-p {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  text-align: left;
  margin-bottom: 20px;
}
.banner--container--left-h1 {
  font-size: 45px;
  font-weight: 900;
  line-height: 54px;
}

.banner--container--right {
  display: flex;
  flex-direction: column;
}
.banner-img {
  max-width: 100%;
  display: inline-block;
}
.banner-icon-container {
  position: absolute;
  bottom: -118%;
  left: 54%;
  right: auto;
}
.banner-orange-wrapper-size {
  width: 187px;
  height: 100px;
  position: relative;
}
.banner-icon-img {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
}
.banner-icon-paragraph {
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 900;
  line-height: 1.2em;
  display: flex;
  position: absolute;
  top: 92px;
  bottom: 0%;
  left: 90px;
  right: 0%;
  transform: rotate(7deg);
  color: black;
}

@media screen and (max-width: 1380px) {
  .banner--section {
    padding: 50px 50px 0px 50px;
  }
  .banner--container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    width: 100%;
  }
  .banner-icon-container {
    display: none;
  }
  .banner--container--left-h1 {
    font-size: 35px;
  }
  .banner--container--right {
    align-items: center;
    justify-content: center;
  }
  .banner--container--left {
    width: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .banner--container--left-p {
    text-align: center;
  }
  .banner-img {
    width: 80%;
  }
}
